.main-addPost {
    width : 100%;
    display: flex;
    justify-content: center;
}
/* td {
    border : 1px solid rgb(192, 190, 190);
} */
.addPost-form{
    width : 92%;
    min-height : 80vh;
}
.addPost-table {
    width : 100%;
}
.addPost-title {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 40px;
    color: rgb(3, 3, 136);
}
.addPost-field-title{
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    margin : 10px 0;
}
.addPost-field-title span {
    width : 20%;
}
.addPost-input {
    font-size: 1.4rem;
    color: blue;
    width: 80%;
    padding: 10px;
    border: 1px solid rgb(194, 193, 193);
}
.addPost-form input[type='file'] {
    font-size: 1.2rem;
}
.addPost-form input[type='checkbox'] {
    width: 16px;
    height: 16px;
}
.addPost-form input[type='submit'] {
    font-size: 1.4rem;
    color: white;
    border: none;
    margin: 0 0 20px 0;
    padding: 10px 50px;
    text-align: center;
    background-color: rgb(70, 70, 252);
    box-shadow: rgba(0, 0, 250, 0.35) 0px 5px 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.addPost-form input[type='submit']:hover {
    background-color: rgb(14, 14, 250);
}
.addPost-message {
    font-size : 1.2rem;
    font-weight: 600; 
    color:rgb(250, 135, 3);
    text-align: center;
    padding-bottom: 20px ; 
}
.modifyPost-input::placeholder {
    color : rgb(139, 139, 252);
}

