.post_container {
    width : 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.post-BG-image {
    width : 100%;
    height : 90vh;
    object-fit: fill;
}
.article_main {
    width : 84%;
    margin-top : -10%;
    padding: 20px 20px 20px 30px;
    display: flex;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 10px;
    justify-content: space-between;
}
.post_article {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
}
.post-article-navbar{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.article-functions {
    display: flex;
    align-items: center;
    width : 20%;
}
.article-functions img {
    width : 40px;
}
.article-functions a {
    font-size: 1.1rem;
    color : black;
    font-weight: 600;
}
.post_article_info {
    width: 100%;
    margin: 15px 0;
    text-align: end;
    color: #696969;
}
.post_article_title {
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.5;
    color :rgb(5, 5, 211);
    text-align: center;
    font-weight : 600;
    margin : 20px 0;
    text-transform: uppercase;
}
.post_article_description {
    width: 96%;
}
.recent_articles {
    width: 22%;
}
.recent_article {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.post_recent_article_content {
    width: 55%;
}
.recent_article_title {
    text-align: center;
    color : black;
    font-size: 1rem;
    margin: 20px 0 30px 0;
    font-weight: 600;
}
.recent_article a {
    width: 40%;
}
.recent_article a img {
    width: 100%;
    height : 100%;
    object-fit: fill;
}
